.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
    position: relative;
}

.frame1{
    width: 160px;
    height: 60px;
    background-color: white;
    display: flex;
    position: absolute;
    right: 20px; top:20px;
    justify-content: space-evenly; align-items: center;
}

.item1{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    /* margin: 6% 1%; */
}


.main{
    width: 400px;
    height: 250px;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right{
    width:250px;
    height: 250px;
    background-color: #8c2727;
    float: right;
    position: relative;
}

.container{
    width: 150px;
    height: 170px;
    float: right;
    position: absolute;
    left: 40px; top: 40px; right: 60px; bottom: 40px;
}
.frame2{
    width: 150px;
    height: 50px;
    background-color: white;
    position: relative;
}

.frame3{
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 5% 0;
    position: relative;
}

.frame4{
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 5% 0;
    position: relative;
}

.item2{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    position: absolute;
    left: 5px; top: 5px;
}

.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}